@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 style="background-color:#FAF2FE;">Bienvenidos
        <br>Mascota Feliz App
    </h1>
    <img src="~/img/baner-animales.jpg" style="heigth:100%;">
    <h1>Comprometidos con tu mascota</h1>
</div>
